{$CADDY_HOST} { # Set host with environment variable
    root /www/client

    tls {$CADDY_TLS} # Set TLS settings, either "off" or an email address

    proxy /api server:8080 # Proxy requests to /api to the server container

    # Rewrite paths that don't start with /api to / for the Angular app
    rewrite {
      if {path} not_match ^/api
      to {path} {path}/ /
    }

    expires {
        match .js$ 1y
        match .css$ 1y

        match .png$ 1w
        match .jpg$ 1w
        match .gif$ 1w
        match .svg$ 1w
        match .ico$ 1w
        match .ogg$ 1m
        match .ttf$ 1m
        match .otf$ 1m
        match .woff$ 1m
        match .eot$ 1m
    }

    gzip
}
