<mat-toolbar color='primary'>
    <mat-toolbar-row>
        <span id='app-title'>AutoMadlibs
        </span>
        <span class="menu-spacer"></span>
        <button mat-button mat-flat-button color="accent" (click)="viewHistory()">
            <mat-icon>history</mat-icon>
            HISTORY
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div id="main">
    <app-template-selector (templateSelected)='setTemplate($event.value)'></app-template-selector>
    <app-madlib-generator *ngIf='selectedTemplate' [selectedTemplate]='selectedTemplate'></app-madlib-generator>
</div>