<mat-toolbar color='primary'>
    <mat-toolbar-row>
        <span id='app-title'>AutoMadlibs
        </span>
        <span class="menu-spacer"></span>
        <button mat-mini-fab class="menu-button" (click)="viewHistory()">
            <mat-icon>history</mat-icon>
        </button>
        <button mat-mini-fab class="menu-button" (click)="clearScreen()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div id="main">
    <app-template-selector (onNewMadlib)='showNewMadlib($event)'></app-template-selector>
    <app-madlib-card *ngFor="let madlib of madlibs" [data]="madlib"></app-madlib-card>
</div>